html, body {
    height: 100%;
}



/*********** Main Grid: Page layout of side, header and content ************************/
body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-rows: minmax(150px, 1fr) 4fr;
}
.main-grid {
    border: 2px solid green;
}
#sidebar {
    grid-row: 1 / 3;
}
#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
